.logo-ticker-container {
  width: 110vw;   
  position: absolute;        /* fill the full-width-ticker div */
  height: 70px;
  overflow: hidden;
  box-shadow: inset 5px 5px 10px rgba(255, 255, 255, 0.5);
  background-color: #1a1a1a;

  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
}

.logo-ticker-content {
  display: flex;
  gap: 32px;
  white-space: nowrap;
  animation: logo-ticker 25s linear infinite;
}

.logo-ticker-container:hover .logo-ticker-content {
  animation-play-state: paused;
}

.logo-ticker-img {
  height: 40px;   /* Adjust logo size here */
  width: 40px;
  object-fit: contain;
}

@keyframes logo-ticker {
  0% {
    transform: translateX(105vw);
  }
  100% {
    transform: translateX(-100%);
  }
}




