h4 {
    line-height: 0.5; /*removing large line breaks caused by h4 tag*/
}

h2 {
    line-height: 1.5;
}

.bio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
  position: relative;
  padding: 1rem;
  color: #ffffff;
  margin-top: 2rem;
}

.photo-container {
  flex: 0 0 425px;  /* fixed width */
  height: 300px;
  opacity: 0;
  animation: slideInLeft 4.5s ease-out forwards;
  transform: translateX(-500px);
  margin-left: 0;
}

.bio-content {
  flex: 1 1 auto;  /* flexible */
  opacity: 0;
  animation: slideInRight 4.5s ease-out forwards;
  transform: translateX(500px);
  line-height: 1.5;
  position: static;
  
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1rem; /* space between icons */
  margin: 1rem 0;
}

.skills {
  margin-top: -15px;
}


@keyframes slideInRight {
      to {
        opacity: 1;
        transform: translateX(0);
      }
}

@keyframes slideInLeft {
      to {
        opacity: 1;
        transform: translateX(0);
      }
}



