.logo-ticker-container {
  overflow: hidden;
  background-color: #1a1a1a;
  width: 1375px;
  height: 50px;
}

body
{
  margin-top: -200px;
  padding: 0;
}

.logo-ticker-content {
  display: flex;
  gap: 32px;
  white-space: nowrap;
  animation: logo-ticker 25s linear infinite;
}

.logo-ticker-container:hover .logo-ticker-content {
  animation-play-state: paused;
}

.logo-ticker-img {
  height: 40px;   /* Adjust logo size here */
  width: 40px;
  object-fit: contain;
}

@keyframes logo-ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

