
html, body {
  height: 200%;
  margin: 0;
  padding: 0;
}

body {
  /*<a href="https://www.freepik.com/free-ai-image/ultra-detailed-nebula-abstract-wallpaper-4_39994508.htm">
  Image by Vaynakh on Freepik</a>*/
  background-image: url('./assets/images/Nebula.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; /* optional */
  min-height: 100vh;  /* extra safety */
}

.page-container {
  min-height: 100vh;
  position: absolute;
  top: -175px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  max-width: 1200px; /* optional max width */
  margin: 0 auto;    /* center horizontally */
}


.wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
  width: 100vw;           /* full viewport width */
  max-width: 100vw;       /* ensure max width matches viewport */
  padding:  2rem;   /* horizontal padding to keep content from touching edges */
  box-sizing: border-box; /* include padding in width calculation */
  
  margin: 0;              /* no auto margin since full width */
  height: auto;           /* height adjusts to content */
}



.root-bio {

  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 220%;
  height: 150%;
  padding: 1.5rem;

}

.welcome-container {
  text-align: center;
  font-family: 'Bubblegum Sans';
  font-size: 35px;
  color: #afaf84;
  margin-top: 5rem;
  margin-bottom: 3rem;
  transform: translateY(50px); /*moves on y axis*/
}


.welcome-container span {
  display: inline-block; /* Essential for applying transformations */
  animation: wave-animation 1s infinite ease-in-out; /* Adjust timing and easing*/
  margin-right: 5px; 
}

.root-tech-ticker {
  width: 100vw;               /* full viewport width */
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 0 1rem;
  box-sizing: border-box;
}



.project-search {
  width: 80%;
  max-width: 800px;
  padding: 1rem;
  background: rgba(255,255,255,0.05);
  border-radius: 8px;
}


@keyframes wave-animation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust the vertical movement */
  }
}

.welcome-container span:nth-child(1) {
  animation-delay: 0s;
}

.welcome-container span:nth-child(2) {
  animation-delay: 0.1s; /* Adjust the delay between characters */
}

.welcome-container span:nth-child(3) {
  animation-delay: 0.2s;
}

.welcome-container span:nth-child(4) {
  animation-delay: 0.3s;
}

.welcome-container span:nth-child(5) {
  animation-delay: 0.4s;
}